{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image-container">
                    <img src="{% static 'images/img.png' %}" class="d-block w-100" alt="..." height="600">
                    <div class="carousel-caption">
                        <div class="carousel-text">
                        A house is made of bricks and beams; a home is made of love and dreams.
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image-container">
                    <img src="{% static 'images/img_1.png' %}" class="d-block w-100" alt="..." height="600">
                    <div class="carousel-caption">
                        <div class="carousel-text">
                        Life takes you to unexpected places; love brings you home
                    </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image-container">
                    <img src="{% static 'images/img_2.png' %}" class="d-block w-100" alt="..." height="600">
                    <div class="carousel-caption">
                        <div class="carousel-text">
                        Turning houses into homes
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Albums -->

    <div class="container my-3">
<h1 class="my-4 text-center" id="Features">Select from our range of features</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/f1.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Luxury Estates</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'luxury_estate' %}">View</a></button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f2.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Oceanfront Retreats</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'oceanfront_retreats' %}">View</a></button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f3.jpg' %}">
             <div class="card-body">
                 <h3 class="card-title">Urban Living Gems</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'urban_living' %}">View</a></button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f4.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Countryside Escapes</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'countryside_escapes' %}">View</a></button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f5.jpg' %}">
            <div class="card-body">
               <h3 class="card-title">Unique Architecture</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
               <img src="{% static 'images/f8.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Mountain Retreats</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
               <img src="{% static 'images/f10.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Equestrian Estates</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f9.jpg' %}">
            <div class="card-body">
                 <h3 class="card-title">Waterfront Villas</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{% static 'images/f11.jpg' %}">
            <div class="card-body">
                <h3 class="card-title">Historic Homes</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}